/*
 * KEYMAP DE PRUEBA - un caracter unico por posicion (36 en total)
 * Sirve para mapear "tecla fisica -> posicion del transform".
 * Flashea esto temporalmente, aprieta tecla por tecla y anota que sale.
 * Orden de salida esperado (si todo estuviera bien): 0 1 2 ... 9 a b c ... z
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

/ {
        keymap {
                compatible = "zmk,keymap";

                default_layer {
// Posiciones (lo que DEBERIA salir en cada tecla fisica):
// |  0  |  1  |  2  |        |  3  |  4  |  5  |
// |  6  |  7  |  8  |        |  9  |  a  |  b  |
// |c| d| e| f| g| h|        | i| j| k| l| m| n|
// |  o |  p |  q |  r |      |  s |  t |  u |  v |
//        |  w |  x |        |  y |  z |
                        bindings = <

              &kp N0     &kp N1 &kp N2                   &kp N3 &kp N4       &kp N5
                     &kp N6 &kp N7 &kp N8               &kp N9 &kp A  &kp B
    &kp C  &kp D  &kp E &kp F &kp G &kp H       &kp I &kp J  &kp K &kp L &kp M &kp N
    &kp O &kp P       &kp Q &kp R                    &kp S &kp T        &kp U &kp V
                    &kp W &kp X             &kp Y  &kp Z
                        >;
                };
        };
};
