#include "MORE_ErGO.dtsi"
#include <zephyr/dt-bindings/input/input-event-codes.h>

&adc { status = "okay"; };

/ {
    anin0: analog_input_0 {
        compatible = "zmk,analog-input";
        sampling-hz = <100>;
        x-ch {
            io-channels = <&pro_micro 21>;      // ← AIN del eje X (0=P0.02, 5=P0.29, 7=P0.31...) AJÚSTALO
            mv-mid = <1650>;             // voltaje en reposo (MÍDELO)
            mv-min-max = <1600>;
            mv-deadzone = <40>;
            scale-multiplier = <1>;
            scale-divisor = <300>;
            evt-type = <INPUT_EV_REL>;
            input-code = <INPUT_REL_HWHEEL>;  // scroll lateral
        };
        y-ch {
            io-channels = <&pro_micro 20>;      // ← AIN del eje Y AJÚSTALO
            mv-mid = <1650>;
            mv-min-max = <1600>;
            mv-deadzone = <40>;
            scale-multiplier = <1>;
            scale-divisor = <300>;
            evt-type = <INPUT_EV_REL>;
            input-code = <INPUT_REL_WHEEL>;   // scroll vertical
        };
    };

    anin0_listener {
        compatible = "zmk,input-listener";
        device = <&anin0>;
    };
};

&kscan0 {
    col-gpios
        = <&pro_micro 3 GPIO_ACTIVE_HIGH>
        , <&pro_micro 5 GPIO_ACTIVE_HIGH>
        , <&pro_micro 7 GPIO_ACTIVE_HIGH>
        , <&pro_micro 9 GPIO_ACTIVE_HIGH>
        , <&pro_micro 15 GPIO_ACTIVE_HIGH>
        , <&pro_micro 14 GPIO_ACTIVE_HIGH>
        ;
};